# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Build Package
/dist

# Production
/build

# Misc
.DS_Store
*.pem

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Emulator
firebase-debug.log*
*.pid
*.log
firestore-debug.log
database-debug.log
pubsub-debug.log
storage-debug.log
ui-debug.log

# Firebase Hosting cache
.firebase

# Genkit state
.genkit/dev-plugins-state.json
.genkit/prod-plugins-state.json

# Dotenv environment variables file
.env.local
